<html>
    <head>
        <title>

        </title>
        <link rel="stylesheet" href="style.css">

    </head>
    <body>
        <header>
            <a href="#" class="logo">Logo</a>
            <input type="checkbox" id="menu-bar">
            <label for="menu-bar">Menu</label>
            <nav class="navbar">
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="#">Movie</a>
                        <ul>
                            <li><a href="#">Category</a>
                                <ul>
                                    <li><a href="#"></a>Tollwood</li>
                                    <li><a href="#"></a>Hollwood</li>
                                </ul>
                            </li>
                            
                        </ul>
                    </li>
                    <li><a href="#">series</a></li>
                    <li><a href="#">years</a></li>
                </ul>

            </nav>
            <div class="user">
                <i class="fa-solid fa-magnifying-glass"></i>
            
                <a href="">Login</a>
            </div>
        </header>

        <section>
            <div class="heropage">
                <div class="insde-heropage">
                    <span>NOW STREMAING</span>
                    <div class="line1"></div>
                    <h1>Mission Impossible</h1>
                    <p>Action,Daram,Sci-fi  |2022| india| 166 min</p>
                    <div class="btn1">
                        <a href=""><i class="fas fa-play"></i>See more</a>
                        <a href=""><i class="fas fa-heart"></i>See Later</a>
                    </div>
                </div>
            </div>
            <div class="poster">
                <img src="posters/mission impossible.jpg" alt="">
            </div>
        </section>
        <!--------->
        <!--LATEST MOVIES SECTION-->
        
        <div class="latest-movies">
            <h1>LATEST MOVIES </h1>
            <div class="latest-container">
                <div class="latest-insider">
                   <a href="Taare Zameen par.html">
                    <img src="posters/taare zameen par.jpg" alt="">
                   </a> 
                    <div class="heading1">
                        <h4>Taare zameen par</h4>
                        <p><span>&#9733;&#9733;&#9733;&#9733;&#9733;</span></p>
                        <h6>psychoglcal</h6>
                    </div>
                    <div class="btn2">
                        <a href="Taare Zameen par.html">See more</a>
                    </div>
                </div>
                <div class="latest-insider">
                    <a href="Charlie.html">
                        <img src="posters/charlie2.jpg" alt="">
                     </a>
                    
                    <div class="heading1">
                        <h4>Charlie</h4>
                        <p><span>&#9733;&#9733;&#9733;&#9733;&#9733;</span></p>
                        <h6>Drama</h6>
                    </div>
                    <div class="btn2">
                        <a href="Charlie.html">See more</a>
                    </div>
                </div>
                <div class="latest-insider">
                   <a href="Kgf-2.html">
                    <img src="posters/kgf chapter2.jpg" alt="">
                   </a> 
                    <div class="heading1">
                        <h4>KGF chapter2</h4>
                        <p><span>&#9733;&#9733;&#9733;&#9733;&#9733;</span></p>
                        <h6>Drama,Action,Thriller </h6>
                    </div>
                    <div class="btn2">
                        <a href="Kgf-2.html">See more</a>
                    </div>
                </div>
                <div class="latest-insider">
                   <a href="Baaghi 2.html">
                    <img src="posters/Baaghi 2.jpg" alt="">
                   </a> 
                    <div class="heading1">
                        <h4>Baaghi 2</h4>
                        <p><span>&#9733;&#9733;&#9733;&#9733;&#9733;</span></p>
                        <h6>Action</h6>
                    </div>
                    <div class="btn2">
                        <a href="Baaghi 2.html">See more</a>
                    </div>
                </div>
                <div class="latest-insider">
                   <a href="Maanaadu.html">
                    <img src="posters/Maanaadu.jpg" alt="">
                   </a> 
                    <div class="heading1">
                        <h4>Maanaadu</h4>
                        <p><span>&#9733;&#9733;&#9733;&#9733;&#9733;</span></p>
                        <h6>psychoglcal,Thriller</h6>
                    </div>
                    <div class="btn2">
                        <a href="Maanaadu.html">See more</a>
                    </div>
                </div>
                <div class="latest-insider">
                    <a href="Beast.html">
                        <img src="posters/Beast1.jpg" alt="">
                    </a>
                    <div class="heading1">
                        <h4>Beast</h4>
                        <p><span>&#9733;&#9733;&#9733;&#9733;&#9733;</span></p>
                        <h6>sci-fi</h6>
                    </div>
                    <div class="btn2">
                        <a href="Beast.html">See more</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
<html>
<head>
<title>
</title>
<link rel="stylesheet" href="style2.css">
</head>
<body>
<div class="Tollwood-Movies">
<h1>Tollwood Movies</h1>
<div class="Tollwood-container">
<div class="Tollwood-insider">
<a href="sarkaru vaari paata.html">
<img src="posters/svp sc.jpg" alt="">
</a>
<div class="heading2">
<h4>Sarkaru vaari <br>paata</h4>
</div>
<div class="btu1">
<a href="sarkaru vaari paata.html">See More</a>
</div>
</div>
<div class="Tollwood-insider">
<a href="#">
<img src="posters/radheshyam.jpg" alt="">
</a>
<div class="heading2">
<h4>Radheshyam</h4>
</div>
<div class="btu1">
<a href="#">See More</a>
</div>
</div>
<div class="Tollwood-insider">
<a href="#">
<img src="posters/valimi sc.jpg" alt="">
</a>
<div class="heading2">
<h4>valimi</h4>
</div>
<div class="btu1">
<a href="#">See More</a>
</div>
</div>
<div class="Tollwood-insider">
<a href="pushpa.html">
<img src="posters/pushpa sc.jpg" alt="">
</a>
<div class="heading2">
<h4>Pushpa</h4>
</div>
<div class="btu1">
<a href="pushpa.html">See More</a>
</div>
</div>
<div class="Tollwood-insider">
<a href="Beast.html">
<img src="posters/beast.jpg" alt="">
</a>
<div class="heading2">
<h4>Beast</h4>
</div>
<div class="btu1">
<a href="Beast.html">See More</a>
</div>
</div>
</div>-->
</div>
</div>
</body>
</html>
<html>
<head>
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Comatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, intial-scale=1.0"/>
<title>        
</title>
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="style t.css">
</head>
<body>
<header>
<a href="#" class="logo">Logo</a>
<input type="checkbox" id="menu-bar">
<label for="menu-bar">Menu</label>
<nav class="navbar">
<ul>
<li><a href="home.html">Home</a></li>
<li><a href="#">Movie</a>
<ul>
<li><a href="#">Tollywood</a></li>
<li><a href="#">Bollywood</a></li>
<li><a href="#">Kollywood</a></li>
<li><a href="#">Hollywood</a></li>
</ul>
</li>
<li><a href="#">Category</a>
<ul>
<li><a href="#">Psychogical</a></li>
</ul></li>
<!-- <li><a href="#">years</a></li>-->
</ul>
</nav>
<!-- <div class="user">
<i class="fa-solid fa-magnifying-glass"></i>
<a href="">Login</a>
</div> -->
</header>
<br>
<br>
<br>
<br>
<div id="container">
<img src="posters/taare zameen par.jpg" alt="bollywood">
<ul>
<li><h2>Taare zameen par</h2></li>
<li><h4><span>&#9733;&#9733;&#9733;&#9733;&#9733;</span></h4></li>
</ul>
</div>
<hr color="black">
<div>
<h3> Review :</h3>
<br>
<p>Ishaan is criticised by his parents for his poor academic performance and is sent away to a boarding school. Ram, an art teacher, however, realises he has dyslexia and helps him uncover his potential.
                In this Movie parents and eduction presons must to know childern's psychology and  childern's actives. Teachers alos find the 
                students talent and improve there skils.  
</p>
<br>
<h3>Cast :</h3>
<p>
<ul>
<li><b>Darsheel Safary</b> as Ishaan Nandkishore Awasthi / Inu: Maya & Nandkishore's son 
                    Veer Mohan as Little Ishaan></li>
<li><b>Aamir Khan</b> as <b>Ram Shankar Nikumbh</b>: An art teacher at New Era High School and Inu's tuto</li>
<li><b>Tanay Chheda</b> as Rajan Damodran, Inu's best friend and classmate at boarding school</li>
<li>Sachet Engineer as Yohaan Nandkishore Awasthi: Inu's brother</li>
<li>Aniket Engineer as Junior Yohaan</li>
<li><b>Tisca Chopra</b> as Maya Awasthi: Ishaan and Yohaan's mother </li>
<li><b>Vipin Sharma </b>as Nandkishore Awasthi, Ishaan and Yohaan's father </li>
<li> Ramit Gupta as Ranjeet</li>
<li><b>Girija Oak</b> as Jabeen Khan: Nikumbh's co-worker</li>
<li>Bugs Bhargava as Sen Sir & Shankar Sachdev as Tiwari Sir, Two teachers at New Era High School</li>
<li><b>M. K. Raina</b> as New Era High School (Boarding school) Principal (Headmaster)</li>
<li><b>Sonali Sachdev</b> as Irene Teacher: An English teacher at Ishaan's former school</li>
<li><b>Meghna Malik</b> as Victoria Teacher: Class and math teacher of Ishaan's former school</li>
<li><b>Lalita Lajmi</b> as herself (cameo appearance)</li>
<li><b>Abhishek Bachchan</b> as himself (cameo appearance in photograph)</li>
</ul>
</p>
</div>
</body>
<div id="container">
<img src="posters/Sarkaru vaari paata.jpg" alt="bollywood">
<ul>
<li><h2>Sarkaru vaari paata</h2></li>

<li><h4><span>&#9733;&#9733;&#9733;&#9733;&#9733;</span></h4></li>
</ul>
</div>
<hr color="black">
<div>
<h3> Review :</h3>
<br>
<p>Mahesh is in the loan recovery business in the US. A girl named Kalaavathi takes a loan from him and fails to repay it.
                 An upset Mahesh warns her but Kalaavathi brings her powerful dad Rajendranath into the picture. Left with no choice,
                 Mahesh comes to India to get his money back. But bigger problems land him in a deep mess.
</p>
<br>
<h3>Cast :</h3>
<p>
<ul>
<li><b>Mahesh Babu</b> as Mahesh "Mahi", founder of Mahi Finance Corporation</li>
<li><b>Keerthy Suresh </b>as Kalaavathi</li>
<li><b>Samuthirakani</b> as M.P Rajendranath, Kalaavathi's father</li>
<li><b>Nadhiya</b> as a Senior Bank Official Rajakumari</li>
<li><b>Sowmya Menon</b> as Sowmya, Kalaavathi's friend</li>
<li><b>Vennela Kishore</b> as Kishore, Mahi's friend</li>
<li><b>Subbaraju</b> as Subbaraju, Rajendranath's brother-in-law</li>
<li><b>Ajay</b> as ACP Ajay Kumar</li>
<li><b>Brahmaji</b> as Bank Employee Brahmaji</li>
<li><b>Tanikella Bharani</b> as Master</li>
<li><b>Parag Tyagi</b> as Bihari</li>
<li><b>Posani Krishna Murali</b> as Colony President</li>
<li><b>Prabhas Sreenu</b> as Recovery Agent</li>
</ul>
</p>
</div>
</body>
</html>
